body{
  margin: 0 auto;
  text-align: center;
  background-color: lightblue;
}

#phone{
  margin: 0 auto;
  border: 2px solid black;
  height: 400px;
  width: 250px;
  background-color: black;
}

#screen {
  margin: 0 auto;
  border: 2px solid white;
  height: 300px;
  width: 90%;
  margin-top: 30px;
  background-color: white;
}

#user-input{
  width: 90%;
}

#check-btn, #clear-btn{
  padding-top: 20px;
  height: 30px;
  width: 100px;
}
#results-div{
  color: black;
  padding-top: 20px;
}

//can add @media to make it more responsive 
